<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-title>{{ 'AppName' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #page [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-title class="titulo">{{ 'CorrectoPage.text.title' | translate }} {{nombre}} {{apellido}} {{ 'CorrectoPage.text.title2' | translate }}</ion-title>
    </ion-card-header>

    <div class="centro-texto">
      <h1 class="titulo">{{ 'CorrectoPage.text.password' | translate }}</h1>
      <ion-item class="password">
        <h2>{{contrasenna}}</h2>
      </ion-item>
      <img src="../../../assets/img/correcto.jpg" alt="">
      <a #contenido class="boton" (click)="logout()">{{ 'CorrectoPage.btn.login' | translate }}</a>
    </div>
  </ion-card>

  <div class="footer" style="text-align: center; margin-top: 20px;">
    <p>{{ 'CorrectoPage.footer' | translate }}.</p>
  </div>
</ion-content>