<app-header 
  (headerClick)="headerClick($event)">
</app-header>

<ion-content [fullscreen]="true">
  <!-- Componente QR Web Scanner -->
  <app-codigoqr 
      *ngIf="selectedComponent === 'codigoqr'" 
      (scanned)="webQrScanned($event)"
      (stopped)="webQrStopped()">
  </app-codigoqr>

  <!-- Componente Welcome -->
  <app-welcome 
      *ngIf="selectedComponent === 'welcome'">
  </app-welcome>

  <!-- Componente Forum -->
  <app-forum 
      *ngIf="selectedComponent === 'forum'">
  </app-forum>

  <!-- Componente Mi Clase -->
  <app-miclase
      *ngIf="selectedComponent === 'asis'">
  </app-miclase>

  <!-- Componente Mis Datos -->
  <app-misdatos
      *ngIf="selectedComponent === 'misdatos'">
  </app-misdatos>
</ion-content>

<app-footer
  (footerClick)="footerClick($event)">
</app-footer>