<app-header (headerClick)="headerClick($event)" id="saludo"></app-header>

<ion-content [fullscreen]="true" class="content-with-footer">
  <!-- Componente QR Web Scanner -->
  <app-codigoqr 
      *ngIf="selectedComponent === 'codigoqr'" 
      (scanned)="webQrScanned($event)"
      (stopped)="webQrStopped()">
  </app-codigoqr>

  <!-- Componente Forum -->
  <app-foro *ngIf="selectedComponent === 'foro'" id="foro-componente"></app-foro>

  <!-- Componente Mi Clase -->
  <app-miclase *ngIf="selectedComponent === 'asis'"></app-miclase>

  <!-- Componente Mis Datos -->
  <app-misdatos *ngIf="selectedComponent === 'misdatos'"></app-misdatos>
  <!-- Componente Usuarios -->
  <app-usuarios *ngIf="selectedComponent === 'usuarios'"></app-usuarios>
</ion-content>

<app-footer (footerClick)="footerClick($event)" class="fixed-footer"></app-footer>
