<ion-content padding>
  <!-- Formulario de registro: Solo visible si no es administrador -->
  <div *ngIf="!esAdmin">
    <form (ngSubmit)="crearUsuario()" #userForm="ngForm">
      <ion-item>
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.userName" name="userName" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.firstName" name="firstName" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.lastName" name="lastName" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="usuario.email" name="email" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.address" name="address" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Pregunta Secreta</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.secretQuestion" name="secretQuestion" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Respuesta Secreta</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.secretAnswer" name="secretAnswer" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Nivel Educacional</ion-label>
        <ion-select [(ngModel)]="usuario.educationalLevel" name="educationalLevel" interface="popover" required>
          <ion-select-option *ngFor="let level of educationalLevels" [value]="level">
            {{ level.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
        <app-date-picker 
          [(ngModel)]="usuario.dateOfBirth" 
          name="dateOfBirth" 
          label="Fecha de Nacimiento"
          labelPlacement="floating"
          required>
        </app-date-picker>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="usuario.password" name="password" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Repetir Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="repetirPassword" name="repetirPassword" required></ion-input>
      </ion-item>
      <ion-text *ngIf="!contrasenasCoinciden()" color="danger">
        Las contraseñas no coinciden.
      </ion-text>
      <ion-button expand="full" type="submit" [disabled]="userForm.invalid">
        Crear Usuario
      </ion-button>
    </form>
  </div>

  <!-- Lista de usuarios: Solo visible si es administrador -->
  <div *ngIf="esAdmin">
    <ion-list>
      <ion-card *ngFor="let user of usuarios">
        <ion-card-title>{{ user.firstName }} {{ user.lastName }} </ion-card-title>
        <ion-card-subtitle>({{ user.email }})</ion-card-subtitle>
        <ion-button class="eliminar" fill="clear" color="danger" (click)="eliminarUsuario(user.email)">
          Eliminar
        </ion-button>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
