<ion-content>

  <div class="background-image" *ngIf="asis"></div>

  <ion-grid fixed *ngIf="asis" class="asistencia-content">
    <ion-row>
      <ion-col size="5">Sede</ion-col>
      <ion-col size="7">{{ asis.sede }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">ID Asignatura</ion-col>
      <ion-col size="7">{{ asis.idAsignatura }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Sección</ion-col>
      <ion-col size="7">{{ asis.seccion }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Nombre Asignatura</ion-col>
      <ion-col size="7">{{ asis.nombreAsignatura }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Nombre Profesor</ion-col>
      <ion-col size="7">{{ asis.nombreProfesor }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Día</ion-col>
      <ion-col size="7">{{ asis.dia }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Bloque Inicio</ion-col>
      <ion-col size="7">{{ asis.bloqueInicio }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Bloque Término</ion-col>
      <ion-col size="7">{{ asis.bloqueTermino }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Hora Inicio</ion-col>
      <ion-col size="7">{{ asis.horaInicio }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Hora Fin</ion-col>
      <ion-col size="7">{{ asis.horaFin }}</ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!asis" class="center-frame">
    <div class="picture-frame ion-text-center">
      <img class="you-must-scan" src="/assets/images/you-must-scan.png">
    </div>
  </div>

</ion-content>
