<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'AppName' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar class="transparent-bg">
    <div slot="start" class="ion-margin">
      <app-language #selectLanguage></app-language>
    </div>
    <div slot="end" class="ion-margin">
      <ion-button shape="round" size="small" (click)="navigateTheme()">
        {{ 'Login.Text.Issue' | translate }}
        <ion-icon slot="start" name="color-wand-outline"></ion-icon>
      </ion-button>
    </div>
   </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" >
 
  <img alt="DUOC" src="../../../assets/img/pao.jpg" />
  
  <ion-card class="login-container transparent-input">
    <ion-card-header class="show-in-portrait">
      <ion-card-title color="light" class="glow-text">
        <h4>
          <b>
            {{ 'Login.Title.Login' | translate }}
          </b>
        </h4>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="transparent-input text-center">
      
      <ion-item class="margin-bottom-6 float-left-landscape">
        <ion-input 
          label="{{ 'Login.Label.Email' | translate }}" 
          labelPlacement="floating"
          [(ngModel)]="userName" 
          placeholder="{{ 'Login.Placeholder.Email' | translate }}"
          id="correo">
        </ion-input>
      </ion-item>

      <ion-item class="margin-bottom-6 float-right-landscape">
        <ion-input 
          label="{{ 'Login.Label.Password' | translate }}"
          labelPlacement="floating"
          [(ngModel)]="password" 
          placeholder="{{ 'Login.Placeholder.Password' | translate }}"
          type="password"
          id="password">
        </ion-input>
      </ion-item>

      <div class="ion-text-center margin-top-6" style="clear: both;">
        <ion-button  class="enter-button normal-text" shape="round" (click)="login()">
          {{ 'Login.Button.Login' | translate }}
        </ion-button>
      </div>

    </ion-card-content>

  </ion-card>

</ion-content>

<ion-footer>
  
  <ion-button  shape="block" (click)="registerNewUser()">
    {{ 'Login.Button.Signin' | translate }}
  </ion-button>
  <ion-button  shape="block" (click)="passwordRecovery()">
    {{ 'Login.Button.ForgotPassword' | translate }}
  </ion-button>
  <ion-button  shape="block" (click)="navigateRouteToDuoc()">
    {{ 'Login.Button.Route' | translate }}
  </ion-button>
  
</ion-footer>
